<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>RoxBlog</title>{% endblock %}
</head>

<body>


<style>
.container {
    position: relative;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    color: blue;
}

img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
}
</style>
 <div class="topright">
 	 
 	{% if user.username != "" %}
 	Active User :
 	{{ user.username }} | 
    <a href="{% url 'LogOut' %}">Logout</a>
	{% else %}
	<a href="{% url 'login' %}">Login</a> | 
    <a href="{% url 'SignUp' %}">SignUp</a>
	{% endif %}


 </div>

  {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>
</html>