{% extends "base.html" %}
{% block content %}

<h1 style="color:green;font-family: verdana">Profile: {{ author.user.username }}</h1>

<div class="one3" style="font-family: verdana;color: blue;font-size: 200%"><img class="pro" src="https://avatars.dicebear.com/v2/male/{{author.user.username }}.svg" >

 name: {{ author.first_name }} {{ author.last_name }}
<br><br>
Date of birth: {{ author.date_of_birth }}
<br><br>
Email: {{ author.user.email }}
</div>
<br>
<br>


<div style="margin-left: 30px">
	<h3 style="color:green;font-family: verdana">Posts by {{ author.user.username }} : </h3>
{% for blog in blogs %}
<br>
<a href="{% url 'index' %}{{ blog.pk }}">
{{ blog.title }}
</a>
<br>
{% endfor %}
</div>
<br><br>
{% endblock %}